* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

main {
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

.container {
    padding-top: 15px;
    width: 320px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
}

.container .imagem img {
    border-radius: 12px;
}

.title, .descricao {
    font-size: 15px;
    text-align: center;
}

.title {
    padding: 5% 5% 1%;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.descricao {
    padding: 6% 9%;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
/* ------------------------------------------
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;        
}

main {
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%)
}

.container {
    padding-top: 15px;
    width: 320px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;    
    background-color: hsl(0, 0%, 100%);
    
    
}

.container .imagem img {   
    border-radius: 12px;
}


.title {
    padding: 5% 5% 1% 5% ;
    font-size: 15px; 
    text-align: center;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.descricao {
    font-size: 15px;
    padding: 6% 9% 6% 9%;
    text-align: center;
    font-weight: 400;
    color: hsl(220, 15%, 55%)
} */